* {
    --a: red;
    --b: #FF7F00;
    --c: #CCCC00; 
    --d: green;
    --e: #96bf33;
    --f: #0000FF;
    --g: #4B0082;
    --h: #8B00FF;
}

.reveal section img {
    margin: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.backgrounds {
    opacity: 0.35;
}